global:
  scrape_interval: 10s
  evaluation_interval: 10s

rule_files:
- "alert.rules"

scrape_configs:
- job_name: 'cadvisor'
  scrape_interval: 5s
  static_configs:
  - targets: ['cadvisor:8080']

- job_name: 'liquidsoap'
  scrape_interval: 5s
  static_configs:
  - targets: [
      'liquidsoap-myradio:6001',
      'liquidsoap-myradiosurround:6001',
    ]

- job_name: 'prometheus'
  scrape_interval: 10s
  static_configs:
  - targets: ['localhost:9090']

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - 'alertmanager:9093'
