---
name: Test (Liquidsoap)
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize]
    paths:
    - "**/*.liq"
    - ".github/workflows/test-liquidsoap.yml"

jobs:
  liquidsoap-test-transcoder-stereo:
    name: Liquidsoap Test Transcoder Stereo
    runs-on: ubuntu-latest
    container:
      image: savonet/liquidsoap:v2.2.5
      options: --user root
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - run: '/usr/bin/liquidsoap -c ./example/liquidsoap/myradio.liq ./scripts/transcoder/00-live.liq'

  liquidsoap-test-transcoder-surround:
    name: Liquidsoap Test Transcoder Surround
    runs-on: ubuntu-latest
    container:
      image: savonet/liquidsoap:v2.2.5
      options: --user root
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - run: '/usr/bin/liquidsoap -c ./example/liquidsoap/myradiosurround.liq ./scripts/transcoder/00-live.liq'

  liquidsoap-test-streamer-stereo:
    name: Liquidsoap Test Streamer Stereo
    runs-on: ubuntu-latest
    container:
      image: savonet/liquidsoap:v2.2.5
      options: --user root
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - run: '/usr/bin/liquidsoap -c ./example/liquidsoap/myradio.liq ./scripts/transcoder/00-live.liq'

  liquidsoap-test-streamer-surround:
    name: Liquidsoap Test Streamer Surround
    runs-on: ubuntu-latest
    container:
      image: savonet/liquidsoap:v2.2.5
      options: --user root
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - run: '/usr/bin/liquidsoap -c ./example/liquidsoap/mystreamersurround.liq ./scripts/streamer/00-live.liq'
